

#diamond-menu {


    position: absolute;


    z-index: 10;


    top: 13%;


    left: -5%;


    width: 109%;


    height: 62%;


    /*    border: 1px solid black;*/


    -ms-transform: rotate(-135deg);


    -webkit-transform: rotate(-135deg);


    transform: rotate(-135deg);


}


#diamond-bg {


    position: absolute;


    top: 15%;


    left: 21%;


    width: 59%;


    height: 59%;


    background-color: rgba(255, 0, 0, 0.28);


}


#bottom-section {


    font-family: 'Building';


    font-size: 8vh;


    text-transform: uppercase;


    position: absolute;


    width: 100%;


    height: 13%;


    bottom: 0px;


    left: 0px;


    text-align: center;


}


.level-row {


    height: 10%;


    width: 100%;


}


.level-tile {


    width: 10%;


    height: 100%;


    background-color: black;


    display: inline-block;


    border: 1px solid rgb(83, 83, 83);


    ;


}


.level-tile.ready {


    -webkit-transition: background-color 0.4s;


    /* For Safari 3.1 to 6.0 */


    transition: background-color 0.4s;


    background-color: white;


    cursor: pointer;


}


.level-tile.complete {


    -webkit-transition: background-color 0.4s;


    /* For Safari 3.1 to 6.0 */


    transition: background-color 0.4s;


    background-color: rgb(19, 218, 35);


    cursor: pointer;

}

.level-tile.complete[tier='0'],
.level-tile.complete[tier='1']
{
    background-color: rgb(0, 255, 0);
}

.level-tile.complete[tier='2'],
.level-tile.complete[tier='3']{
    background-color: rgb(35, 200, 20);
}

.level-tile.complete[tier='4'],
.level-tile.complete[tier='5']{
    background-color: rgb(70, 165, 40);
}

.level-tile.complete[tier='6'],
.level-tile.complete[tier='7']{
    background-color: rgb(105, 130, 60);
}

.level-tile.complete[tier='9'],
.level-tile.complete[tier='10']{
    background-color: rgb(140, 95, 80);
}

.level-tile.complete[tier='11'],
.level-tile.complete[tier='12']{
    background-color: rgb(175, 60, 100);
}

.level-tile.complete[tier='13'],
.level-tile.complete[tier='14']{
    background-color: rgb(210, 25, 120);
}

.level-tile.ready:hover,


.level-tile.complete:hover {


    background-color: #DD88FF;


}


.noPuzz {


    visibility: hidden;


}