
/* LAYOUT */

#success-popup{
    
    position: absolute;
    z-index: 1000;
    top: 40%;
    bottom: 40%;
    left: 25%;
    right: 25%;
    background-color: white;
    text-align: center;
    padding-top: 3.5vh;
    font-size: 4vh;
    border: 1px solid #CCC;
}

#success-popup .btn{
    
    font-size: 3vh;
    padding: 1vh 2vh;
}

#text-area {

    width: 100%;

    height: 7%;

    padding-top: 1vh;

    font-size: 3vh;

    text-align: center;

}

#tile-area {

    width: 100%;

    height: 75%;

    background-color: #FAF0D1;

    overflow: hidden;

    border-top: 1px solid #888;

    border-bottom: 1px solid #888;

}

.item-tile {

    display: inline-block;

    width: 10%;

    height: 90%;

    background-color: white;

    border: 2px solid #888;

    margin-top: 1vh;

    margin-left: 2.1vh;

    position: relative;

}

.item-tile.next-item {

    border-color: red;

}

#bottom-area {

    position: relative;

    width: 100%;

    height: 18%;

}

#bottom-success .btn {

    font-size: 3.5vh;

    height: 6vh;

    padding: 0vh 2vh;

}

#bottom-area #bottom-buttons {

    position: absolute;

    bottom: 6%;

    left: 1%;

    width: 98%;

}

#bottom-area #bottom-buttons .btn {

    font-size: 3vh;

    height: 6vh;

    padding: 0vh 2vh;

}

#bottom-area #moves-left-section {

    font-size: 3vh;

    vertical-align: middle;

    padding-left: 2vh;

    position: absolute;

    bottom: 0px;

    right: 2%;

}

#bottom-text {

    padding: 2%;

    font-size: 3.5vh;

    text-align: center;

}

#bottom-item-row {

    height: 50%;

    width: 100%;

    position: relative;

}

.puzzle-row {

    width: 100%;

    height: 10%;

    white-space: nowrap;

}

#tiles[skew-x='1'] {

    margin-left: -4%;

}

#tiles[skew-y='1'] {

    margin-top: -4%;

}

.puzzle-tile {

    height: 100%;

    width: 7.69%;

    display: inline-block;

    vertical-align: top;

    position: relative;

    /*
    -webkit-transition: background-color 0.2s;

    transition: background-color 0.2s;
*/

}

#tiles {

    height: 100%;

    width: 100%;

}

.puzzle-tile[tile-type='background'] {

    background-color: transparent;

}

/* BOARD */

.puzzle-tile.even[tile-type='board'] {

    background-color: #DDD;

}

.puzzle-tile.odd[tile-type='board'] {

    background-color: #CCC;

}

.puzzle-tile.clickable {

    cursor: pointer;

}

.puzzle-tile.clickable:hover {

    background-color: white;

}

.inner {

    position: absolute;

    top: 0;

    right: 0;

    bottom: 0;

    left: 0;

}

.icon {

    position: absolute;

    top: 10%;

    right: 10%;

    bottom: 10%;

    left: 10%;

    text-align: center;

}

/* ICE */

.puzzle-tile[tile-type='ice'][ready='0'] {

    opacity: 0.2;

}

.puzzle-tile[tile-type='ice'] .inner {

    cursor: pointer;

    -webkit-transition: background-color 0.4s;

    transition: background-color 0.4s;

}

.puzzle-tile[tile-type='ice'] polygon {

    stroke-width: 1;

    stroke: blue;

    fill: rgb(198, 241, 247);

}

.puzzle-tile[tile-type='ice'][ready='1'] .inner:hover {

    background-color: blue;

}

/* LIGHTNING */

.puzzle-tile[tile-type='lightning'][ready='0'] {

    opacity: 0.2;

}

.puzzle-tile[tile-type='lightning'] .inner {

    cursor: pointer;


    -webkit-transition: background-color 0.4s;
    transition: background-color 0.4s;

}

.puzzle-tile[tile-type='lightning'] .inner:hover {

    background-color: rgb(145, 139, 66)

}

.puzzle-tile[tile-type='lightning'] polygon {

    stroke-width: 1;

    stroke: rgb(145, 139, 66);

    fill: rgb(245, 255, 0);

}

/* DIAMONDS */

.icon[tile-type='diamond'] text {

    fill: white;

}

.icon[tile-type='diamond'][tile-subtype='normal'] .diamond-icon polygon {

    fill: black;

}

.icon[tile-type='diamond'][tile-subtype='ice'] .diamond-icon polygon {

    fill: #00F;

}

.icon[tile-type='diamond'][tile-subtype='lit'] .diamond-icon polygon {

    fill: #FFEA00;
    stroke: black;
}

.icon[tile-type='diamond'][tile-subtype='lit'] .diamond-icon text {

    fill: black;

}

.icon[tile-type='diamond'][tile-subtype='fire'] .diamond-icon polygon {

    fill: #F00

}

/* BLOCKS */

.icon[tile-type='block'][tile-subtype='normal'] polygon {

    fill: black;
}

.icon[tile-type='block'][tile-subtype='ice'] polygon {

    fill: #00F;
}

.icon[tile-type='block'][tile-subtype='fire'] polygon {

    fill: #F00
}

.icon[tile-type='block'][tile-subtype='lit'] polygon {

    fill: #FFEA00;
    stroke: black;
}