body{
    background-color: white;
}

#main{
	position: relative;
	margin: 0 auto;
	max-width: 100%;
    margin-top: 8px;
}

#main-content{
	background-color: #ECECF7;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 1px solid #888;
}

#main-dummy{
	padding-top: 100%;
}

.scene{
	width: 100%;
	height: 100%;
}

.hidden{
    display: none;
}