@font-face {
    font-family: John;
    src: url('fonts/BIG JOHN.otf');
}

@font-face {
    font-family: Joe;
    src: url('fonts/Slim Joe.otf');
}

#hidden{
    display: none;
}

body{
    background-image: url('/images/confectionary.png');
}

.navbar {
    
  padding: 10px 0px;
  background-color: #EEEEF4;
  border-bottom: 1px solid #AAA;
}

.navbar li{
    font-size: 1.8em;
    font-family: Joe;
    margin-right: 15px;
}

.navbar li a:hover{
    background-color: #BED1E0;
    color: blue;
}

/*
#pills{
    float: right;
}
*/

.page-title{
    
  font-size: 2.7em;
  font-family: John;
  display: inline-block;
  color: black;   
  margin-top: -15px;
  margin-bottom: 10px;
}

.page-title:hover{
    text-decoration: none;
}
.bat {
    
  position: fixed;
  bottom: 0px;
  left: 10px;
  width: 70px;
}

#pills a{
    color: black;
    padding: 7px 15px;
}

#pills .active a{
    color: white;
}

.navbar {
    text-align: center;
}

#body-bg{
	background-color: whitesmoke;
	padding: 20px;
border: 1px solid #CCC;
}