#games-list{
    
}

#games-list .game {
    padding-bottom: 10px;
    border-bottom: 1px solid #DDD;
}

.game h1{
    text-align: center;
}

.game img{
    max-height: 500px;
    display: block;
    margin: 0px auto 10px;
}