input#post-title{

    font-size: 20px;
    padding: 10px;
    width: 98%;
}

.note-editable{
    height: 400px;
}

.post-row{

    padding-top: 18px;
    padding-left: 10px;
    font-size: 1.3em;
}

.single-post .title{
    margin-bottom: 0px;
    text-decoration: none;
    color: black;
}

.single-post .title:hover{

    color: cornflowerblue;
}

.single-post .subtitle{
    color: #666;
    font-size: 1.1em;
    padding-left: 15px;
    padding-top: 6px;
}

.single-post .content{

    padding-top: 18px;
    padding-bottom: 10px;
}

.single-post {

    border-bottom: 1px solid #AAA;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

#posts-nav a{

}

#posts-nav a.left{

    float: left;
}

#posts-nav a.right{

    float: right;
}

.post-row .delete{
    color: red;
}

.subtitle .author,
.subtitle .date{
/*    font-weight: bold;*/
}

.post-footer{
    padding-top: 12px;
  padding-bottom: 12px;
}

.post-footer a{
    color: #666;

    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.post-footer a:hover{
    color: blue;
    text-decoration: none;
}
