<div class="links">
    <a href='http://www.twitter.com/AdanSays'>My Silly Twitter <i class='fa fa-twitter'></i></a><br/>
    <a href='https://github.com/KHANanaphone'>My Github <i class='fa fa-github-square'></i></a>
</div>
<p id="about">
    I am Adam Ferguson (aka Adan), a programmer who is currently located in Edmonton, Alberta, Canada. I do game design/development as a hobby, so I set up this webpage so I could more easily describe and log the game-related projects I am working on, instead of having everything scattered around everywhere. 
</p>


<script>

    NavBar.setPage('about');

</script>