<div id="games-list">

    <div class='category clearfix'>
        <h1>Recent Games</h1>

        <a class='game' href='http://games.adanferguson.com/puzzdx/www/'>
            <img src='/images/pdxthumb.png'>
            <div class='name'>"Puzzlo DX" (Working Title)</div>
            <div class='platform'>Web</div>
            <p class='description'>
                My 5th iteration on this game, and hopefully the last. Can you break all of the diamonds given a limited number of moves?
            </p>
        </a>
        <a class='game' href='http://games.adanferguson.com/shootorama/'>
            <img src='/images/coolpic420.png'>
            <div class='name'>Shootorama</div>
            <div class='platform'>Web</div>
            <p class='description'>
                Shoot and dodge. I may revisit this concept, but it would definitely be a complete remake, and probably not web-based.
            </p>
        </a>
        <a class='game' href='http://games.adanferguson.com/dungeorama'>
            <img src='/images/nothing.png'>
            <div class='name'>Dungeorama</div>
            <div class='platform'>Windows/Web</div>
            <p class='description'>
                Dungeon crawler thing with user-created content. I got it working again! Yay!
            </p>
        </a>

    </div>

    <div class='category clearfix'>
        <h1>Unfinished/In Development</h1>

        <div class='game'>
            <img  src='images/qmark.png'>
            <div class='name'>"Economania"</div>
            <div class='platform'>Web/Android</div>
            <p class='description'>
                Buy and sell products while travelling from planet to planet and having to deal with zany antics.
            </p>
        </div>

        <div class='game'>
            <img  src='images/qmark.png'>
            <div class='name'>"Demon RPG"</div>
            <div class='platform'>Web</div>
            <p class='description'>
                Sort of a combination of 'clicker' games and pokemon, adding a bit of depth to it. (Why would you add depth to a 'clicker' game?)
            </p>
        </div>

        <div class='game'>
            <img src='images/qmark.png'>
            <div class='name'>Most Mediocre Text-Based Adventure</div>
            <div class='platform'>Everything</div>
            <p class='description'>
                Calling this "in development" is generous, but I definitely am thinking about it.
            </p>
        </div>

    </div>

    <div class='category clearfix'>
        <h1>Archives</h1>

        <a class='game' href='http://games.adanferguson.com/puzzlo/'>
            <img src='/images/puzzlo.png'>
            <div class='name'>Puzzlo (v4)</div>
            <div class='platform'>Web</div>
            <p class='description'>
                Complete version with 80 puzzles or something like that. It's not that different fron the newer version, just generally uglier.
            </p>
        </a>
        <a class='game' href='https://play.google.com/store/apps/details?id=com.adanferguson.puzzlo'>
            <img src='/images/puzzand.png'>
            <div class='name'>Puzzlo (Google Play)</div>
            <div class='platform'>Android</div>
            <p class='description'>
                Good ol' mobile versions. Probably broken in various ways depending on version, but still should work well enough. Also looks completely different.
            </p>
        </a>
        <a class='game' href='http://games.adanferguson.com/MMA/'>
            <img src='/images/mma.png'>
            <div class='name'>Most Mediocre Adventure</div>
            <div class='platform'>Web (Silverlight)</div>
            <p class='description'>
                Totally worth installing Silverlight for (don't use Chrome). I decree that I will remake this one day.
            </p>
        </a>

    </div>

</div>


<script>

    NavBar.setPage('games');

</script>
