<div id="games-list">
    
    <div class="game">
        
        <a href='/puzzlo'>
            <h1>Puzzlo</h1>
            <img src="/images/puzzlo.png">
        </a>
        
        <p>
            Puzzlo is a browser game that needs a better name. Destroy all of the diamonds using the resources provided for each level.  80 puzzles in total, with a wide variety of components and strategies. It uses html5/css/javascript/svg, and is mobile-friendly.
			
			A new version with a new name is in the works and is also playable on browsers (linked below).
        </p>        
    
        <p>
            <a href="https://play.google.com/store/apps/details?id=com.adanferguson.puzzlo">Android Version on Google Play</a><br/>
			<a href="http://www.adanferguson.com/puzzdx/www/">Beta version of "DX" edition</a>
        </p>
        
    </div>
    
    <div class="game">
        
        <a href='/shootorama'>
            <h1>Shootorama</h1>
            <img src="/images/coolpic420.png">
        </a>
        
        <p>
            Me experimenting with <a href='http://www.createjs.com/Home'>createjs</a>. Top-down shooter that's supposed to sort of be a combination of Gauntlet and Zelda. I'm sure experimenting with what I want this to be.
        </p>        
    
    </div>
    
    <div class="game">
        
        <a href='/MMA'>
            <h1>Most Mediocre Adventure</h1>
            <img src="/images/mma.png">
        </a>
        
        <p>
            A silly little adventure game that I made when I was trying out Silverlight. I actually didn't mind using Silverlight, but since it's not longer supported, there's really no reason to use it.
        </p>        
    
    </div>
    
    <div class="game">
        
        <a href='http://ludumdare.com/compo/author/KHANanaphone/'>
            <h1>Ludum Dare page</h1>
            <img src="/images/ludum.png">
        </a>
        
        <p>
            Ludum Dare is a competition where you have 48 hours to create a game from scratch. I've done it three times, with the second one eventually becoming the inspiration for "Puzzlo" above.
        </p>        
    
    </div>
</div>


<script>

    NavBar.setPage('games');

</script>