<div id='posts-list'></div>
<div id='posts-nav'>
    <a class='left'><i class='fa fa-long-arrow-left'></i> Older</a>
    <a class='right'>Newer <i class='fa fa-long-arrow-right'></i></a>
</div>

<div id='hidden'>

    <div class='single-post'>
        
        <h2><a class='title'></a></h2>
        <div class='subtitle'>By <span class='author'></span> on <span class='date'></span></div>
        
        <div class='content'></div>
        
        <div class='post-footer'>
            <a class='comments-link'>
                <span class='disqus-comment-count'></span>
                <i class='fa fa-comments'></i>
            </a>
        </div>
            
    </div>
    
</div>

<script>
    
    Home.showPosts(<%- page %>);
    NavBar.setPage('home');
    
</script>