<input type="text" id="post-title" value="Title">
<textarea id='article-area'>
    Content
</textarea>
<div id="error" class="alert alert-danger" role="alert"></div>
<button id="save" class="btn btn-defaut" onclick="Posts.savePost()">Save</button>

<script>
    
    window.onload = function() {
        
        $('#error').hide();
        $('#article-area').summernote();
        
        var post = <%- post ? JSON.stringify(post) : 'null' %>;
        
        if(post)
            Posts.setup(post);
    };
    
</script>