<div>
    <button class='btn btn-default' onclick='window.location="/posts/edit"'>Create New</button>
</div>

<div id='post-list'></div>

<div id='hidden'>

    <div class='post-row'>
        <a class='col-xs-11 link'></a>
        <a class='col-xs-1 delete'>
            <i class='fa fa-times'></i>
        </a>
    </div>
    
</div>

<script>

    $.post('/posts/get', {count: 'all'}, function(data){
        
        Posts.list(data.posts);
    });
</script>