<div class="navbar">

    <div class="navbar-inner">

        <div>
            <a href='/' class='page-title'>Adan's Game Design</a>
        </div>

        <ul id="pills" class="nav nav-pills">
            <li role="presentation" class='games'><a href="/">Games</a></li>
            <li role="presentation" class='home'><a href="/blog">Blog</a></li>
        </ul>
    </div>
</div>

<script>

    var NavBar = {};

    NavBar.setPage = function(name){

        $('#pills .' + name).addClass('active');
    }

</script>
